---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 8bf63c4a
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "883696"
            X-Ratelimit-Reset:
                - "1682107738"
        status: 200 OK
        code: 200
        duration: 286.792459ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["5uECxzjML1a5sXuMPqwcpP8BMAKCXCpUVwFydPHWBnaW9V72ockWQKevfSQBaqiSxtGKtmstkVaxmo5Jcfnp9Lcb",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1675037066,"meta":{"err":null,"fee":5000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[0,1],"data":"11115jKv4WpU9tw72Nt8LWu9KFkeQuUP5hw6yVB93hhdR5urqM9La1dxkjKUaPTCnE7uMG","programIdIndex":10}]},{"index":1,"instructions":[{"accounts":[3,7,2],"data":"3NAZM97B2SXh","programIdIndex":13},{"accounts":[13,2,8,4,5,3,6,9,9,9,14],"data":"59p8WydnSZtTD4rejTV8bhgZB6GGdS1EfMDAbp8sdsCocKr5Nt9x9wrhom","programIdIndex":15},{"accounts":[3,6,2],"data":"3Po592yJbR11","programIdIndex":13},{"accounts":[5,4,8],"data":"3di78bumDQWK","programIdIndex":13}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction: InitVaultPeriod","Program 11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111 success","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk consumed 15119 of 400000 compute units","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk success","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction: DripOrcaWhirlpool","Program log: drip_[...]
