---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 7e7a0d52
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "879083"
            X-Ratelimit-Reset:
                - "1682107738"
        status: 200 OK
        code: 200
        duration: 119.591458ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["3ySFiaC3VPnPUL8ywCFgMKGG7XMWCLJaz3WFdKGukkBEMcouAv9jw3Xi7eNssLYsYxg4rW3indsVyjupjUWSKYQr",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1661040016,"meta":{"err":null,"fee":5000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[0,1],"data":"11115jKv4WpU9tw72Nt8LWu9KFkeQuUP5hw6yVB93hhdR5urqM9La1dxkjKUaPTCnE7uMG","programIdIndex":13}]},{"index":1,"instructions":[{"accounts":[15,2,8,4,5,3,6,9,9,9,19],"data":"59p8WydnSZtWtjqCdV7JnmQEtYLKRZihVM2uRaEPyAB3vTeorwm6eyf8n3","programIdIndex":17},{"accounts":[3,6,2],"data":"3s41qkiYdi6j","programIdIndex":15},{"accounts":[5,4,8],"data":"3PPfiwUc6tJb","programIdIndex":15},{"accounts":[3,7,2],"data":"3gP896iv27kK","programIdIndex":15}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction: InitVaultPeriod","Program 11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111 success","Program log: Initialized VaultPeriod","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk consumed 20262 of 400000 compute units","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk success","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction:[...]
