---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":3488713414,"solana-core":"1.14.16"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - f6bfdd1f
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "947245"
            X-Ratelimit-Reset:
                - "1681934936"
        status: 200 OK
        code: 200
        duration: 125.262666ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["5otEnwWY8z5MJhrxaXRgGeN9jyM3nAcC8gGJQY1asE3wfGB3QbjPQ1DUFXzEtPuLcdWpdBuw3XZuL177jRiwMBiv",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1680117259,"meta":{"err":null,"fee":10000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[14],"data":"84eT","programIdIndex":16},{"accounts":[0,8],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":9},{"accounts":[8],"data":"P","programIdIndex":16},{"accounts":[8,14],"data":"6Vzyh3gxY1YvfQnJo8dZgETPjEWyGBcJRZbHKrixv23PE","programIdIndex":16}]},{"index":4,"instructions":[{"accounts":[0,2],"data":"11111pJuRy2iWHmAT4qxpUf274kWABxt97gg3qCBK2C3RHLMEmrYeJc3yLGVqxCaCsh3L","programIdIndex":9},{"accounts":[0,1],"data":"11114XtYk9gGfZoo968fyjNUYQJKf9gdmkGoaoBpzFv4vyaSMBn3VKxZdv7mZLz[...]
