---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 3232d9d5
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "946248"
            X-Ratelimit-Reset:
                - "1681934936"
        status: 200 OK
        code: 200
        duration: 143.323167ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["shVfUMeDU38tQxdWvrYwFrBCjDve5889JdEAhgmJB3bXejhgx8VpRwtXaYhG4FhZXKHrT7pz2SZk3UvpkaHmfE6",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1681330759,"meta":{"err":null,"fee":5000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[17],"data":"84eT","programIdIndex":19},{"accounts":[0,10],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":11},{"accounts":[10],"data":"P","programIdIndex":19},{"accounts":[10,17],"data":"6Vzyh3gxY1YvfQnJo8dZgETPjEWyGBcJRZbHKrixv23PE","programIdIndex":19}]},{"index":2,"instructions":[{"accounts":[1,3,5],"data":"3Yi1M1G4DhNo","programIdIndex":19},{"accounts":[1,7,5],"data":"3uzRR3d9YY2K","programIdIndex":19},{"accounts":[1,3,5],"data":"3sxT6KaEdQHM","programIdIndex":19},{"accounts":[6,10,5],"data":"3S6zKbJN9GYo","programIdIndex":19},{"accounts":[4,8,5],"data":"6uisGWzpevBq","programIdIndex":19},{"accounts":[4,0,0],"data":"A","programIdIndex":19}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL invoke [1]","Program log: Create","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction: GetAccountDataSize","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 1569 of 792986 compute units","Program return: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA pQAAAAAAAAA=","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program 11111111111111111111111111111111 invoke [2]","Program 1111111[...]
