---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - fba34890
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "843111"
            X-Ratelimit-Reset:
                - "1682107738"
        status: 200 OK
        code: 200
        duration: 149.642917ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getAccountInfo","params":["BxEimfWJshFBXSuqttnjdabud98h3BTnmvbzCQkZXWZK",{"commitment":"finalized","encoding":"base64"}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"context":{"apiVersion":"1.13.6","slot":189688216},"value":{"data":["rRYkpb4DjscQDgAAAAAAACMABQAFAP9tBDqGIt+SnOOhZfekoHFeSBsbkIxe/E6RT8t877OcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==","base64"],"executable":false,"lamports":2171520,"owner":"dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk","rentEpoch":0}},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 3232d9d5
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "843110"
            X-Ratelimit-Reset:
                - "1682107738"
        status: 200 OK
        code: 200
        duration: 26.759ms
