---
version: 2
interactions:
    - id: 0
      request:
        host: api.mainnet-beta.solana.com
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.mainnet-beta.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1365939126,"solana-core":"1.13.5"},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "40"
            X-Ratelimit-Conn-Remaining:
                - "39"
            X-Ratelimit-Connrate-Limit:
                - "40"
            X-Ratelimit-Connrate-Remaining:
                - "39"
            X-Ratelimit-Method-Limit:
                - "40"
            X-Ratelimit-Method-Remaining:
                - "39"
            X-Ratelimit-Rps-Limit:
                - "100"
            X-Ratelimit-Rps-Remaining:
                - "99"
            X-Rpc-Node:
                - nyc61
        status: 200 OK
        code: 200
        duration: 230.651125ms
    - id: 1
      request:
        host: api.mainnet-beta.solana.com
        body: '{"method":"getAccountInfo","params":["BxEimfWJshFBXSuqttnjdabud98h3BTnmvbzCQkZXWZK",{"commitment":"confirmed","encoding":"base64"}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.mainnet-beta.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"context":{"apiVersion":"1.13.5","slot":164531768},"value":{"data":["rRYkpb4DjscQDgAAAAAAACMABQAFAP9tBDqGIt+SnOOhZfekoHFeSBsbkIxe/E6RT8t877OcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==","base64"],"executable":false,"lamports":2171520,"owner":"dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk","rentEpoch":0}},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "40"
            X-Ratelimit-Conn-Remaining:
                - "39"
            X-Ratelimit-Connrate-Limit:
                - "40"
            X-Ratelimit-Connrate-Remaining:
                - "39"
            X-Ratelimit-Method-Limit:
                - "40"
            X-Ratelimit-Method-Remaining:
                - "39"
            X-Ratelimit-Rps-Limit:
                - "100"
            X-Ratelimit-Rps-Remaining:
                - "98"
            X-Rpc-Node:
                - nyc61
        status: 200 OK
        code: 200
        duration: 32.155334ms
