---
version: 2
interactions:
    - id: 0
      request:
        host: api.devnet.solana.com
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.devnet.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":4011803773,"solana-core":"1.13.3"},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "200"
            X-Ratelimit-Conn-Remaining:
                - "199"
            X-Ratelimit-Connrate-Limit:
                - "200"
            X-Ratelimit-Connrate-Remaining:
                - "199"
            X-Ratelimit-Method-Limit:
                - "200"
            X-Ratelimit-Method-Remaining:
                - "199"
            X-Ratelimit-Rps-Limit:
                - "300"
            X-Ratelimit-Rps-Remaining:
                - "299"
        status: 200 OK
        code: 200
        duration: 25.426958ms
    - id: 1
      request:
        host: api.devnet.solana.com
        body: '{"method":"getAccountInfo","params":["Et3bqQq32LPkrndf8gU9gRqfL4S13ubdUuiqBE1jjrgr",{"commitment":"confirmed","encoding":"base64"}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.devnet.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"context":{"apiVersion":"1.13.3","slot":173870975},"value":{"data":["rRYkpb4Djsc8AAAAAAAAADIAGQAZACCnBAMbax/ztrk82y/NlCaa2hUpLyv5fQdKOKcf/FYlAAA=","base64"],"executable":false,"lamports":1280640,"owner":"F1NyoZsUhJzcpGyoEqpDNbUMKVvCnSXcCki1nN3ycAeo","rentEpoch":0}},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "200"
            X-Ratelimit-Conn-Remaining:
                - "199"
            X-Ratelimit-Connrate-Limit:
                - "200"
            X-Ratelimit-Connrate-Remaining:
                - "199"
            X-Ratelimit-Method-Limit:
                - "200"
            X-Ratelimit-Method-Remaining:
                - "199"
            X-Ratelimit-Rps-Limit:
                - "300"
            X-Ratelimit-Rps-Remaining:
                - "298"
        status: 200 OK
        code: 200
        duration: 25.405125ms
