---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.7"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 9310902f
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "878530"
            X-Ratelimit-Reset:
                - "1682107738"
        status: 200 OK
        code: 200
        duration: 122.531917ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["2tf1Mmg2bir7BHd3zbxt1R3C44xWezxqmho9XHVQxPPPvt62WMksFpm4b6WjzNYJLaSwjLs7vcPNFMwE71z2TQ1B",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1660975474,"meta":{"err":null,"fee":10000,"innerInstructions":[{"index":1,"instructions":[{"accounts":[0,7],"data":"11111QBvWErZXseec8ghJ2BwjjjiTcKt3SUBFcb4f2sNQZnFvecMU9MYS7GhAKDgtNqXc","programIdIndex":9},{"accounts":[0,1],"data":"11114XtYk9gGfZoo968fyjNUYQJKf9gdmkGoaoBpzFv4vyaSMBn3VKxZdv7mZLzoyX5YNC","programIdIndex":9},{"accounts":[1,14],"data":"118DatCephu7kYeezMi4wCgXmm6mMjq9T3gF5dCT3JBVNgP","programIdIndex":15},{"accounts":[0,2,0,1,9,15],"data":"1","programIdIndex":10},{"accounts":[1],"data":"84eT","programIdIndex":15},{"accounts":[0,2],"data":"11119os1e9qSs2u7TsThXqkBSRVFxhmYaFKFZ1waB2X7armDmvK3p5GmLdUxYdg3h7QSrL","programIdIndex":9},{"accounts":[2],"data":"P","programIdIndex":15},{"accounts":[2,1],"data":"6QrJ6BmcYQWLcVSg6Gm1ThNyZ7F6ChYc8u12RhG8KpPPA","programIdIndex":15},{"accounts":[5,4,3],"data":"3Dc8EpW7Kr3R","programIdIndex":15},{"accounts":[1,2,3],"data":"6AuM4xMCPFhR","programIdIndex":15},{"accounts":[6,1,3,0,3,9,14],"data":"28tYJizJG3KQ1mHs3HRNqQ1UveUtsbwWdYdQLvXs7fGiGWLwt4Yk1Ttoui6xwcvvV752ero2mtmBuZRuUPfRdchUCatAppQpeZ5WRE9CnVXTCxNUTjS94FXn7dcE9zVHmWj1K8EAnSQ9i67aQoan9iLd6edYPNbytwkMZSLHaT2BgWkZxb","programIdIndex":13},{"accounts":[0,6],"data":"3Bxs4EMbRQoDyoj5","programIdIndex":9},{"accounts":[6],"data":"9krTDUMpjBo4wxLP","programIdIndex":9},{"accounts":[6],"data":"SYXsBkG6yKW2wWDcW8EDHR6D3P82bKxJGPpM65DD8nHqBfMP","programIdIndex":9},{"accounts":[1,3,3],"data":"31tb","programIdIndex":15}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [1]","Program log: Instruction: ApproveChecked","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 4456 of 400000 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction: DepositWithMetadata","Program 11111111111111111111111111111111 invoke [2]","Program 11111111111111111111111111111111 success","Program 1111111111[...]
