---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 7e7a0d52
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "946686"
            X-Ratelimit-Reset:
                - "1681934936"
        status: 200 OK
        code: 200
        duration: 119.424875ms
    - id: 1
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getTransaction","params":["3QCyiPWTdbeEi9VKMzRrYL2Rw8vdAHXcqFjKcbYx11yv55mttRmLwPFNepZEZ9Qd1UHjfnUCSmffnsdSTL3axXmh",{"commitment":"finalized","encoding":"base58","maxSupportedTransactionVersion":0}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"blockTime":1680358672,"meta":{"err":null,"fee":5000,"innerInstructions":[{"index":0,"instructions":[{"accounts":[1,3,5],"data":"3pYi4UhSCfAP","programIdIndex":11},{"accounts":[1,6,5],"data":"3w2gjfzRgPhZ","programIdIndex":11},{"accounts":[1,3,5],"data":"3gefrAs48xXq","programIdIndex":11}]}],"loadedAddresses":{"readonly":[],"writable":[]},"logMessages":["Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk invoke [1]","Program log: Instruction: WithdrawB","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction: Transfer","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 4645 of 162922 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction: Transfer","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 4645 of 155011 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [2]","Program log: Instruction: Transfer","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA consumed 4645 of 147100 compute units","Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk consumed 61022 of 200000 compute units","Program dripTrkvSyQKvkyWg7oi4jmeEGMA5scSYowHArJ9Vwk success"],"postBalances":[55161226184,2039280,2449920,2039280,2039280,4510080,2039280,1503360,1503360,1141440,2171520,934087680],"postTokenBalances":[{"accountIndex":1,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"BmJs2b1PnepHwBaiWqzuX8LywBLkbBymqj7Cpjz5WjuY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"36216221021373","decimals":9,"uiAmount":36216.221021373,"uiAmountString":"36216.221021373"}},{"accountIndex":3,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"4usNGUBbmjLpG1cH8Ppskkehh2diXpp6yzvPSRh2uB93","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"36092556252","decimals":9,"uiAmount":36.092556252,"uiAmountString":"36.092556252"}},{"accountIndex":4,"mint":"FZxm7Ct8PH8S76eDYRh3GSnriUvzvPd1eTdsdJg533tQ","owner":"9sH27VRjiheq9JDH3UNLkUxLjdPSms2irg7UN9H6itxG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1","decimals":0,"uiAmount":1.0,"uiAmountString":"1"}},{"accountIndex":6,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"9sH27VRjiheq9JDH3UNLkUxLjdPSms2irg7UN9H6itxG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"364328574152388","decimals":9,"uiAmount":364328.574152388,"uiAmountString":"364328.574152388"}}],"preBalances":[55161231184,2039280,2449920,2039280,2039280,4510080,2039280,1503360,1503360,1141440,2171520,934087680],"preTokenBalances":[{"accountIndex":1,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"BmJs2b1PnepHwBaiWqzuX8LywBLkbBymqj7Cpjz5WjuY","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"59306098432296","decimals":9,"uiAmount":59306.098432296,"uiAmountString":"59306.098432296"}},{"accountIndex":3,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"4usNGUBbmjLpG1cH8Ppskkehh2diXpp6yzvPSRh2uB93","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1457740137","decimals":9,"uiAmount":1.457740137,"uiAmountString":"1.457740137"}},{"accountIndex":4,"mint":"FZxm7Ct8PH8S76eDYRh3GSnriUvzvPd1eTdsdJg533tQ","owner":"9sH27VRjiheq9JDH3UNLkUxLjdPSms2irg7UN9H6itxG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"1","decimals":0,"uiAmount":1.0,"uiAmountString":"1"}},{"accountIndex":6,"mint":"StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT","owner":"9sH27VRjiheq9JDH3UNLkUxLjdPSms2irg7UN9H6itxG","programId":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","uiTokenAmount":{"amount":"341273331557580","decimals":9,"uiAmount":341273.33155758,"uiAmountString":"341273.33155758"}}],"rewards":[],"status":{"Ok":null}},"slot":185936032,"transaction":["YRmmay5f74MWgMHjoZz4WsTMtMYNygeC7zgZgN6e1VzfAbVkAKrs2cvGvffqyh973SG5awbwFmFLJ2rskJv7ko9SuG2S68uL9UeJRvAHzWqHav2U4ztYNJ1VV1AqAHmwkoYPzV64yC7kp2wrdCz2Ua82xYHUjzz8dcX842nZi5jqrqWnPimFDb7QYXaRt9MDmdCSkN4HSVZ9kna8NDKrp9ceBqay93mvqePEEPongxjfHCso8SsYB6NdyGiYrMBn3SreEbwDxH3iL5e6L2eNJ6imw2y2F6maaW5zuCknhQPzk4W7486GWwQJCkz3URVaJZWDstNExdDnF5LEe3maipCZKJ9no4yRiNoz1jqWUhPQ7vv9UWK7sB8LDBS2K1X21K77focHn9Cc9pKDHTNPKbFBSD6kKJjNNuZNUFdMyjB2RF9JvyEKznreYjmEhYUgQef1NjUh27AZYZrjswAYamUGXiQgkSKy7ZgRxZrv7E4dBiULFVEMTQbxdmsPqKTMKMS1WJaFG6uJrfmTDveERCCfFNhoLfvzc2Fyq425zXuGRqVE8JhMzZXsg3d2ZeUNcZ9cpr3e2AdHxTo4xy8jf6ZHu35C2aSRqA74TQUUCYF2bMUcmUB7RGh2HkLwbmPupSzUhBD7q7vytejJ1td2WJ87uc9PFAijWJzxVdAeMECx4Jnynm5k3N","base58"],"version":"legacy"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - f6bfdd1f
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "946685"
            X-Ratelimit-Reset:
                - "1681934936"
        status: 200 OK
        code: 200
        duration: 45.872167ms
