---
version: 2
interactions:
    - id: 0
      request:
        host: palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://palpable-warmhearted-hexagon.solana-mainnet.discover.quiknode.pro/5793cf44e6e16325347e62d571454890f16e0388
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":1775889670,"solana-core":"1.13.6"},"id":0}
        headers:
            Content-Type:
                - application/json
            X-Host-Id:
                - 2fdee4d8
            X-Node-Id:
                - 08777362-575c-4584-aa42-4f09eb19af92
            X-Ratelimit-Limit:
                - "1000000"
            X-Ratelimit-Remaining:
                - "892374"
            X-Ratelimit-Reset:
                - "1681675555"
        status: 200 OK
        code: 200
        duration: 147.264042ms
