---
version: 2
interactions:
    - id: 0
      request:
        host: api.mainnet-beta.solana.com
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.mainnet-beta.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":4011803773,"solana-core":"1.13.3"},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "40"
            X-Ratelimit-Conn-Remaining:
                - "39"
            X-Ratelimit-Connrate-Limit:
                - "40"
            X-Ratelimit-Connrate-Remaining:
                - "39"
            X-Ratelimit-Method-Limit:
                - "40"
            X-Ratelimit-Method-Remaining:
                - "39"
            X-Ratelimit-Rps-Limit:
                - "100"
            X-Ratelimit-Rps-Remaining:
                - "99"
        status: 200 OK
        code: 200
        duration: 334.711792ms
