---
version: 2
interactions:
    - id: 0
      request:
        host: api.mainnet-beta.solana.com
        body: '{"method":"getVersion","id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.mainnet-beta.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"feature-set":4011803773,"solana-core":"1.13.3"},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "40"
            X-Ratelimit-Conn-Remaining:
                - "39"
            X-Ratelimit-Connrate-Limit:
                - "40"
            X-Ratelimit-Connrate-Remaining:
                - "39"
            X-Ratelimit-Method-Limit:
                - "40"
            X-Ratelimit-Method-Remaining:
                - "39"
            X-Ratelimit-Rps-Limit:
                - "100"
            X-Ratelimit-Rps-Remaining:
                - "99"
        status: 200 OK
        code: 200
        duration: 114.446042ms
    - id: 1
      request:
        host: api.mainnet-beta.solana.com
        body: '{"method":"getAccountInfo","params":["orcaEKTdK7LKz57vaAYr9QeNsVEPfiu6QeMU1kektZE",{"commitment":"confirmed","encoding":"base64"}],"id":0,"jsonrpc":"2.0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.mainnet-beta.solana.com
        method: POST
      response:
        body: |
            {"jsonrpc":"2.0","result":{"context":{"apiVersion":"1.13.3","slot":159508297},"value":{"data":["AQAAAA+fkwb71NHIsUogVNVGemovmXUxKiLPe3yMP8aJ/NjhsScRD/NaAAAGAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==","base64"],"executable":false,"lamports":998898547,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":361}},"id":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Conn-Limit:
                - "40"
            X-Ratelimit-Conn-Remaining:
                - "39"
            X-Ratelimit-Connrate-Limit:
                - "40"
            X-Ratelimit-Connrate-Remaining:
                - "39"
            X-Ratelimit-Method-Limit:
                - "40"
            X-Ratelimit-Method-Remaining:
                - "39"
            X-Ratelimit-Rps-Limit:
                - "100"
            X-Ratelimit-Rps-Remaining:
                - "98"
        status: 200 OK
        code: 200
        duration: 32.806833ms
[...]
    - id: 3
      request:
        host: api.coingecko.com
        body: ""
        form: {}
        headers: {}
        url: https://api.coingecko.com/api/v3/coins/solana/contract/orcaEKTdK7LKz57vaAYr9QeNsVEPfiu6QeMU1kektZE
        method: GET
      response:
        body: '{"id":"orca","symbol":"orca","name":"Orca","asset_platform_id":"solana","platforms":{"solana":"orcaEKTdK7LKz57vaAYr9QeNsVEPfiu6QeMU1kektZE"},"detail_platforms":{"solana":{"decimal_place":6,"contract_address":"orcaEKTdK7LKz57vaAYr9QeNsVEPfiu6QeMU1kektZE"}},"block_time_in_minutes":0,"hashing_algorithm":null,"categories":["Solana Ecosystem","Decentralized Exchange (DEX)","Automated Market Maker (AMM)","Yield Farming","Decentralized Finance (DeFi)"],"public_notice":null,"additional_notices":[],"localization":{"en":"Orca","de":"Orca","es":"Orca","fr":"Orca","it":"Orca","pl":"Orca","ro":"Orca","hu":"Orca","nl":"Orca","pt":"Orca","sv":"Orca","vi":"Orca","tr":"Orca","ru":"Orca","ja":"Orca","zh":"Orca","zh-tw":"Orca","ko":"Orca","ar":"Orca","th":"Orca","id":"Orca","cs":"Orca","da":"Orca","el":"Orca","hi":"Orca","no":"Orca","sk":"Orca","uk":"Orca","he":"Orca","fi":"Orca","bg":"Orca","hr":"Orca","lt":"Orca","sl":"Orca"},"description":{"en":"Orca is the most user-friendly DEX on Solana.\r\n\r\nOrca is one of the first general-purpose AMMs launched on Solana. Users can swap assets, provide liquidity, and earn yield through an easy-to-use interface. Projects can use Orca as a money-lego to easily integrate swapping, farming, or on-chain data into their dApp.\r\n\r\nOrca strives to provide easy and effective financial tools for everyone, bringing DeFi to the masses.","de":"Orca is the most user-friendly DEX on Solana.\r\n\r\nOrc[...]
[...]
    - id: 6
      request:
        host: api.coingecko.com
        body: ""
        form: {}
        headers: {}
        url: https://api.coingecko.com/api/v3/coins/solana/contract/mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So
        method: GET
      response:
        body: '{"id":"msol","symbol":"msol","name":"Marinade staked SOL","asset_platform_id":"solana","platforms":{"solana":"mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"},"detail_platforms":{"solana":{"decimal_place":9,"contract_address":"[...]
    - id: 7
      request:
        host: api.coingecko.com
        body: ""
        form: {}
        headers: {}
        url: https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=orca%2Cmsol&order=market_cap_desc&per_page=100&page=1&sparkline=false
        method: GET
      response:
        body: '[{"id":"msol","symbol":"msol","name":"Marinade staked SOL","image":"https://assets.coingecko.com/coins/images/17752/large/mSOL.png?1644541955","current_price":39.45,"market_cap":274423409,"market_cap_rank":147,"fully_diluted_valuation":274423409,"total_volume":16014113,"high_24h":41.25,"low_24h":36.26,"price_change_24h":3.18,"price_change_percentage_24h":8.776,"market_cap_change_24h":22011972,"market_cap_change_percentage_24h":8.72067,"circulating_supply":6956110.0,"total_supply":6956110.0,"max_supply":6956110.0,"ath":3541.84,"ath_change_percentage":-98.88581,"ath_date":"2021-08-23T22:16:35.076Z","atl":27.53,"atl_change_percentage":43.34381,"atl_date":"2022-06-14T02:42:27.638Z","roi":null,"last_updated":"2022-11-06T00:12:23.092Z"},{"id":"orca","symbol":"orca","name":"Orca","image":"https://assets.coingecko.com/coins/images/17547/large/Orca_Logo.png?1628781615","current_price":0.913555,"market_cap":21666814,"market_cap_rank":673,"fully_diluted_valuation":91343862,"total_volume":633794,"high_24h":0.937357,"low_24h":0.887904,"price_change_24h":0.02565182,"price_change_percentage_24h":2.88903,"market_cap_change_24h":578083,"market_cap_change_percentage_24h":2.7412,"circulating_supply":23720054.462121,"total_supply":100000000.0,"max_supply":100000000.0,"ath":20.33,"ath_change_percentage":-95.50742,"ath_date":"2021-10-02T20:14:11.766Z","atl":0.351125,"atl_change_percentage":160.14645,"atl_date":"2022-06-19T19:34:08.830Z","roi":null,"last_updated":"2022-11-06T00:12:16.830Z"}]'
        headers:
            Alternate-Protocol:
                - 443:npn-spdy/2
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"3c1177b884eb41f7b44cf8cdc22eeed9"
        status: 200 OK
        code: 200
        duration: 100.246667ms
